@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background: linear-gradient(
      150deg,
      rgba(23, 91, 188, 1) 34%,
      rgba(100, 201, 207, 1) 100%
    );
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .hero__main-text {
    // align-items: center;
    text-align: center;
    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 4rem;
    }
  }
  .hero__main-image {
    img {
      // width: 10rem;
      display: none;
    }
  }
  .benefits {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .benefits__card {
    flex-direction: column;
    width: 290px;
    margin-bottom: -5rem;
  }
  .benefits__card-style {
    padding: 10px;
    margin-bottom: 5rem;
    p {
      width: 250px;
    }
    img {
      width: 40px;
    }
  }
  .about {
    flex-direction: column;
  }
  .about__container-text {
    padding-top: 3rem;
    text-align: center;
  }
  .about__image {
    img {
      height: 300px;
      width: 400px;
    }
  }
  .about__heading-p2 {
    font-size: 1rem;
    padding: 1rem;
  }
  .about__table {
    justify-content: space-around;
  }
  .reviews__cards {
    flex-direction: column;
    align-items: center;
  }
  .reviews__card {
    margin-bottom: 7rem;
  }
  .contact {
    flex-direction: column;
  }
  #contact__map {
    width: 250px;
    height: 300px;
  }
}
