* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.hero {
  background: #175bbc;
  background: linear-gradient(150deg, #175bbc 34%, #64c9cf 100%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 1rem;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  color: #3db2ff;
}

.nav > #nav-check {
  display: none;
}

.hero__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 10% 5% 0 5%;
  height: 50vh;
}

.hero__main-text {
  color: white;
}

.hero__main-text p {
  font-size: 1.3rem;
}

.hero__main-text h1 {
  font-weight: 900;
  font-size: 5.4rem;
}

.hero__main-image img {
  width: 45rem;
}

.hero__main-button {
  margin-top: 10px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3f3d56;
}

.hero__main-button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.hero__main-button:hover:after {
  opacity: 1;
  right: 10px;
}

.hero__main-button:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.benefits {
  margin-bottom: 10rem;
}

.benefits__text {
  text-align: center;
}

.benefits__text p {
  color: #3db2ff;
  font-size: 1.3rem;
}

.benefits__text h2 {
  word-spacing: 0.3rem;
}

.benefits__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.benefits__card-style {
  padding: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
}

.benefits__card-style p {
  width: 300px;
}

.benefits__card-style img {
  height: 80px;
}

.benefits__card-hover:hover {
  border: 2px solid #64c9cf;
  padding: 20px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-bottom: 6rem;
}

.about__image img {
  height: 400px;
  width: 500px;
}

.about__container-text #about__heading-p {
  color: #3db2ff;
  font-size: 1.3rem;
}

.about__container-text h2 {
  font-size: 2rem;
}

.about__container-text p {
  width: 500px;
}

.about__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
  text-align: center;
  background-color: #3db2ff;
  padding: 2rem;
  border-radius: 5px;
  color: #fff;
}

.about__table h3 {
  font-weight: 700;
  font-size: 2rem;
}

.about__table p {
  font-weight: 900;
  font-size: 1rem;
}

.about__table-reviews {
  border-right: #fff 4px solid;
  border-left: #fff 4px solid;
  padding-right: 3rem;
  padding-left: 3rem;
}

.reviews {
  margin-bottom: 6rem;
}

.reviews__text {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.reviews__text p {
  color: #3db2ff;
  font-size: 1.3rem;
}

.reviews__text h2 {
  word-spacing: 0.3rem;
}

.reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reviews__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  padding: 50px;
  border: 2px solid red;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
}

.reviews__card img {
  border-radius: 50%;
  width: 90px;
  height: auto;
  margin-bottom: 1rem;
}

.reviews__card .reviews__star {
  margin-top: 1rem;
}

.reviews__card .fa {
  color: orange;
}

.reviews__card p {
  width: 280px;
  margin-top: 1rem;
}

.reviews__card:hover {
  border: 2px solid #64c9cf;
  padding: 50px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact__input {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #3db2ff;
  outline: none;
  margin-bottom: 2rem;
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
  background-image: linear-gradient(150deg, #175bbc 34%, #64c9cf 100%);
  padding: 10px 30px;
  color: #fff;
  font-size: 1rem;
}

#contact__map {
  width: 500px;
  height: 500px;
}

.svg-footer {
  margin-bottom: -52px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background: linear-gradient(150deg, #175bbc 34%, #64c9cf 100%);
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .hero__main-text {
    text-align: center;
  }
  .hero__main-text p {
    font-size: 1rem;
  }
  .hero__main-text h1 {
    font-size: 4rem;
  }
  .hero__main-image img {
    display: none;
  }
  .benefits {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 290px;
    margin-bottom: -5rem;
  }
  .benefits__card-style {
    padding: 10px;
    margin-bottom: 5rem;
  }
  .benefits__card-style p {
    width: 250px;
  }
  .benefits__card-style img {
    width: 40px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__container-text {
    padding-top: 3rem;
    text-align: center;
  }
  .about__image img {
    height: 300px;
    width: 400px;
  }
  .about__heading-p2 {
    font-size: 1rem;
    padding: 1rem;
  }
  .about__table {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .reviews__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__card {
    margin-bottom: 7rem;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact__map {
    width: 250px;
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */